*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Set CSS variables */
:root {
    --cell-size: 100px;
    /* set our X and Circles smaller than the size of the cell  */
    --mark-size: calc(var(--cell-size) * 0.9);
}


body {
    margin: 0;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    /* Align our X and Circles in middle of cells */
    justify-items: center;
    align-items: center;
    /* for 3x3 grid */
    grid-template-columns: repeat(3, auto)
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    position: relative;
    /* properly display x and circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remove surrounding borders */
.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n +3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

/* Use pseudo element to draw X and O */
.cell.x::before,
.cell.x::after {
    content: '';
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}

.cell.x::before,
.cell.x::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * 0.15);
    height: var(--mark-size);
}



.cell.x::before {
    transform: rotate(45deg);

}

.cell.x::after {
    transform: rotate(-45deg);
}